<%= t ".to_reset" %>
<%= edit_password_reset_url(id: @user.reset_token, email: @user.email, :locale => I18n.locale) %>
<p><%= t ".exp" %> <%= Settings.reset_exp %> <%= t ".hours" %></p>
<p><%= t ".ignore" %></p>
