<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= full_title(yield(:title)) %>
    </title>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <%= link_to t("layouts.application.english"), locale: :en %>
      <%= link_to t("layouts.application.vietnamese"), locale: :vi %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
